.details-section {
  @apply left-1/2 transform -translate-x-1/2 bg-[#E9F3F6] rounded-2xl w-[1194px] h-20;
}

.date-person-section {
  @apply flex flex-col md:flex-row lg:flex-row gap-2 md:gap-2 lg:gap-3 items-center justify-center bg-white rounded-2xl px-8 py-4 cursor-pointer;
}

.button {
  @apply w-52 h-14 bg-[#65AEF2] hover:text-[#65AEF2] hover:bg-white text-white text-2xl font-bold rounded-2xl cursor-pointer;
}
